<p class="text-left px-6 py-6 text-2xl font-bold text-white"> Withdrawals </p>


[/ if (withdrawals.length === 0){ /]

  <p class="text-center px-6 py-4 mb-6 bg-gray-800 text-xl  text-white"> No recent withdrawals at this time.</p>

  [/ } else{ /]

<div class="overflow-x-auto w-12/12 mx-auto md:mx-0 md:w-full">

  <table class="w-full ">
    <tr class="text-center bg-gray-800 text-lg text-white font-bold">
      <th class="py-2">Date</th>
      <th>Transaction ID</th>
      <th>Amount</th>

      <th>Details</th>
    </tr>

    [/ withdrawals.map((t)=>{ /]

    <tr
      class="text-center hover:bg-gray-200 cursor-pointer text-base text-black bg-gray-800"
    >
      <td class="py-4 PX-2">[/= t.date.toLocaleString() /]</td>
      <td class="px-2">[/=t.ref/]</td>
      <td class="px-2">$[/=t.amount/]</td>
      <td class="text-sm overflow-x-auto px-2">[/=t.details/]</td>
    </tr>

    [/ }) /]
  </table>
</div>

[/ } /]
