<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Primary Meta Tags -->
    <title>
      AltFx — Speedy and guaranteed returns with insured investments
    </title>
    <meta
      name="title"
      content="AltFx — Speedy and guaranteed returns with insured investments"
    />
    <meta
      name="description"
      content="Not only do we guarantee the fastest and the most exciting returns on your investments, but we also guarantee the security of your investment."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://altfx.azurewebsites.net/" />
    <meta
      property="og:title"
      content="AltFx — Speedy and guaranteed returns with insured investments"
    />
    <meta
      property="og:description"
      content="Not only do we guarantee the fastest and the most exciting returns on your investments, but we also guarantee the security of your investment."
    />
    <meta
      property="og:image"
      content="https://www.bitrademining.com/image/pc_main.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="http://altfx.azurewebsites.net/" />
    <meta
      property="twitter:title"
      content="AltFx — Speedy and guaranteed returns with insured investments"
    />
    <meta
      property="twitter:description"
      content="Not only do we guarantee the fastest and the most exciting returns on your investments, but we also guarantee the security of your investment."
    />
    <meta
      property="twitter:image"
      content="https://www.bitrademining.com/image/pc_main.png"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="tailwind.min.css" />
    <link rel="stylesheet" href="fontawesome.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="aos.css" />
    <title>AltFX - dashboard</title>
  </head>
  <body class="bg-gray-900">
    <section class="bg-cover" style="background-image: url('image/aleksi.jpg')">
      <header
        class="static top-0 left-0 w-full z-50 px-4 sm:px-8 bg-transparent"
      >
        <div class="flex flex-wrap items-center justify-between py-6">
          <div class="w-1/2 md:w-auto">
            <a href="">
              <img src="image/logo.png" alt="" height="200" width="200" />
            </a>
          </div>
          <i
            class="bi bi-person text-white relative left-12 md:hidden bg-yellow-600 p-3 rounded-md"
          ></i>

          <label for="menu-toggle" class="pointer-cursor md:hidden block"
            ><svg
              class="fill-current text-white"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
            >
              <title>menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg
          ></label>

          <input class="hidden" type="checkbox" id="menu-toggle" />

          <div class="hidden md:block w-full md:w-auto" id="menu">
            <nav
              class="w-full bg-gray-800 md:bg-transparent rounded shadow-lg px-6 py-4 mt-4 text-center md:p-0 md:mt-0 md:shadow-none"
            >
              <ul class="md:flex items-center md:space-x-6">
                <li>
                  <a
                    class="py-2 text-white inline-block md:text-white md:hidden lg:block font-semibold"
                    href="#"
                    >Dashboard</a
                  >
                </li>
                <li>
                  <a
                    class="py-2 text-white inline-block md:text-white md:hidden lg:block font-semibold"
                    href="[/=appUrl2/]/contact.html"
                    >Investment</a
                  >
                </li>
                <li>
                  <a
                    class="py-2 text-white inline-block md:text-white md:hidden lg:block font-semibold"
                    href="#"
                    >Deposit</a
                  >
                </li>
                <li>
                  <a
                    class="py-2 text-white inline-block md:text-white md:hidden lg:block font-semibold"
                    href="#"
                    >Withdrawal</a
                  >
                </li>
                <li>
                  <a
                    class="py-2 text-white inline-block md:text-white md:hidden lg:block font-semibold"
                    href="#"
                    >Referral</a
                  >
                </li>
                <li>
                  <a
                    class="py-2 text-white inline-block md:text-white md:hidden lg:block font-semibold"
                    href="#"
                    >Account</a
                  >
                </li>

                <li>
                  <div
                    class="flex flex-row space-x-3 ml-24 md:ml-0 md:flex-row"
                  >
                    <i
                      class="bi bi-person md text-white bg-yellow-600 p-3 rounded-md"
                    ></i>
                    <!-- Button -->

                    <select
                      name=""
                      id=""
                      class="bg-transparent border border-yellow-600 text-white md:text-white rounded-md"
                    >
                      <option value="" class="text-black">Chinese</option>
                      <option value="" class="text-black">English</option>
                    </select>
                  </div>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
      <!-- end header -->
      <marquee behavior="" direction="Left" class="z-50 bg-black text-white"
        >Ethereum(ETH)</marquee
      >

      <div class="relative z-10 h-100 lg:mt-0 space-y-8 mt-0 py-56 md:ml-8">
        <div>
          <h1
            class="text-white text-4xl md:text-3xl xl:text-3xl font-bold leading-tight"
          >
            Dashboard
          </h1>
          <p
            class="text-blue-100 text-xl md:text-2xl leading-snug mt-4 animate-none"
          >
            <i class="bi bi-house-door-fill text-yellow-500"></i> Home -
            Dashboard
          </p>
        </div>
      </div>
    </section>

    <div class="container mx-auto my-40">
      <div class="flex flex-col space-y-6">
        <p class="text-white font-bold text-lg">Referral Link</p>
        <input
          type="text"
          class="border border-yellow-500 border-r-8 p-2 bg-transparent bg-yellow-100 rounded-md border-r-extra-bold"
        />
        <div
          class="flex flex-col space-y-6 self-stretch md:hidden md:space-x-6"
        >
          <div class="bg-yellow-500 py-6 px-4 rounded-xl md:w-1/3">
            <div class="flex flex-row space-x-36 justify-between">
              <div class="flex flex-col">
                <p class="text-black font-semibold">Deposit Wallet Balance</p>
                <p class="text-white font-bold">$10</p>
              </div>
              <i
                class="bi bi-currency-dollar text-yellow-500 bg-black font-bold text-2xl px-4 rounded-md"
              ></i>
            </div>
          </div>

          <div class="bg-yellow-500 py-6 px-4 rounded-xl md:w-1/3">
            <div class="flex flex-row space-x-36 justify-between">
              <div class="flex flex-col">
                <p class="text-black font-semibold">Interest Wallet Balance</p>
                <p class="text-white font-bold">$0</p>
              </div>
              <i
                class="bi bi-wallet2 text-yellow-500 bg-black font-bold text-2xl px-4 rounded-md"
              ></i>
            </div>
          </div>
          <div class="bg-yellow-500 py-6 px-4 rounded-xl md:w-1/3">
            <div class="flex flex-row space-x-36 justify-between">
              <div class="flex flex-col">
                <p class="text-black font-semibold">Total Invest</p>
                <p class="text-white font-bold">$0</p>
              </div>
              <i
                class="bi bi-currency-dollar text-yellow-500 bg-black font-bold text-2xl px-4 rounded-md"
              ></i>
            </div>
          </div>
        </div>
        <div class="flex flex-col space-y-6 md:hidden md:space-x-6">
          <div class="bg-yellow-500 py-6 px-4 rounded-xl md:w-1/3">
            <div class="flex flex-row space-x-36 justify-between">
              <div class="flex flex-col">
                <p class="text-black font-semibold">Total Deposit</p>
                <p class="text-white font-bold">$10</p>
              </div>
              <i
                class="bi bi-credit-card text-yellow-500 bg-black font-bold text-2xl px-4 rounded-md"
              ></i>
            </div>
          </div>

          <div class="bg-yellow-500 py-6 px-4 rounded-xl md:w-1/3">
            <div class="flex flex-row space-x-36 justify-between">
              <div class="flex flex-col">
                <p class="text-black font-semibold">Total Withdraw</p>
                <p class="text-white font-bold">$10</p>
              </div>
              <i
                class="bi bi-cloud-arrow-down-fill text-yellow-500 bg-black font-bold text-2xl px-4 rounded-md"
              ></i>
            </div>
          </div>
          <div class="bg-yellow-500 py-6 px-4 rounded-xl md:w-1/3">
            <div class="flex flex-row space-x-36 justify-between">
              <div class="flex flex-col">
                <p class="text-black font-semibold">Referral Earnings</p>
                <p class="text-white font-bold">$10</p>
              </div>
              <i
                class="bi bi-people-fill text-yellow-500 bg-black font-bold text-2xl px-4 rounded-md"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden md:flex md:flex-col md:space-y-4">
      <div class="flex flex-row space-x-4">
        <div
          class="bg-yellow-600 flex flex-row justify-between rounded-lg p-4 w-2/5"
        >
          <div class="flex flex-col">
            <p class="text-black font-semibold">Deposit Wallet Balance</p>
            <p class="text-white text-lg font-bold">$10</p>
          </div>
          <i
            class="bi bi-currency-dollar text-yellow-500 bg-black font-bold text-2xl p-4 rounded-md"
          ></i>
        </div>
        <div
          class="bg-yellow-600 flex flex-row justify-between rounded-lg p-4 w-2/5"
        >
          <div class="flex flex-col">
            <p class="text-black font-semibold">Interest Wallet Balance</p>
            <p class="text-white text-lg font-bold">$10</p>
          </div>
          <i
            class="bi bi-wallet2 text-yellow-500 bg-black font-bold text-2xl p-4 rounded-md"
          ></i>
        </div>
        <div
          class="bg-yellow-600 flex flex-row justify-between rounded-lg p-4 w-2/5"
        >
          <div class="flex flex-col">
            <p class="text-black font-semibold">Total Invest</p>
            <p class="text-white text-lg font-bold">$10</p>
          </div>
          <i
            class="bi bi-cloud-arrow-down-fill text-yellow-500 bg-black font-bold text-2xl p-4 rounded-md"
          ></i>
        </div>
      </div>
      <div class="flex flex-row space-x-4">
        <div
          class="bg-yellow-600 flex flex-row justify-between rounded-lg p-4 w-2/5"
        >
          <div class="flex flex-col">
            <p class="text-black font-semibold">Total Deposit</p>
            <p class="text-white text-lg font-bold">$10</p>
          </div>
          <i
            class="bi bi-credit-card text-yellow-500 bg-black font-bold text-2xl p-4 rounded-md"
          ></i>
        </div>
        <div
          class="bg-yellow-600 flex flex-row justify-between rounded-lg p-4 w-2/5"
        >
          <div class="flex flex-col">
            <p class="text-black font-semibold">Total Withdraw</p>
            <p class="text-white text-lg font-bold">$10</p>
          </div>
          <i
            class="bi bi-cloud-arrow-down-fill text-yellow-500 bg-black font-bold text-2xl p-4 rounded-md"
          ></i>
        </div>
        <div
          class="bg-yellow-600 flex flex-row justify-between rounded-lg p-4 w-2/5"
        >
          <div class="flex flex-col">
            <p class="text-black font-semibold">Referral Earnings</p>
            <p class="text-white text-lg font-bold">$10</p>
          </div>
          <i
            class="bi bi-people-fill text-yellow-500 bg-black font-bold text-2xl p-4 rounded-md"
          ></i>
        </div>
      </div>
    </div>

    <section>
      <div
        class="flex flex-col container space-y-5 bg-gray-800 shadow-lg rounded-md mx-auto w-2/3 p-3 md:hidden"
      >
        <div class="flex flex-row text-white justify-between">
          <p>Date</p>
          <p>02/08/2022</p>
        </div>
        <div class="flex flex-row text-white justify-between">
          <p>Transaction ID</p>
          <p>---</p>
        </div>
        <div class="flex flex-row text-white justify-between">
          <p>Amount</p>
          <p class="text-green-800">$10</p>
        </div>
        <div class="flex flex-row text-white justify-between">
          <p>Wallet</p>
          <p class="bg-blue-500 rounded lg px-4">Deposit Wallet</p>
        </div>
        <div class="flex flex-row text-white justify-between">
          <p>Details</p>
          <p>
            You've got <br />
            sign up bonus
          </p>
        </div>
        <div class="flex flex-row text-white justify-between">
          <p>Post balance</p>
          <p>$10</p>
        </div>
      </div>
    </section>

    <section style="background-image: url('image/banner.jpg')" class="mt-16">
      <div class="p-28 items-center flex flex-col space-y-4">
        <div>
          <img
            src="image/logo.png"
            alt=""
            height="200"
            width="200"
            class="cover"
          />
        </div>
        <div
          class="text-white text-lg font-light flex flex-row space-x-4 justify-center"
        >
          <p>Privacy&Policy</p>
          <p>Terms&Conditions</p>
        </div>
      </div>
    </section>

    <footer>
      <div
        class="bg-black flex flex-col md:flex-row md:justify-between py-6 space-y-4"
      >
        <div class="flex flex-col">
          <h3 class="text-blue-200">
            Address: 66 Great Suffolk st, London SE1 OBL,UK
          </h3>
          <h3 class="text-blue-200">Email: support@altfx.com</h3>
          <h3 class="text-blue-200">Whatsapp: +1(616)606-5635</h3>
          <h3 class="text-blue-200">
            &copy2013-2022 AltFX. All rights reserved.
          </h3>
        </div>
        <div class="flex flex-col">
          <div class="flex flex-row space-x-4 text-white p-0 m-0">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-twitter"></i>
            <i class="bi bi-pinterest"></i>
            <i class="bi bi-linkedin"></i>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
