<!-- meta tags and other links -->
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from altfx.com/plan by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Jul 2022 22:33:15 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="sNxoYGciiAc0ukcq4OX4GM97F9w2DjYofuASF5wc">
    <title>AltFX - Investment Plan</title>
    <meta name="description" content="AltFX | Most reliable and profitable Investments In bitcoin. AltFX is a cryptocurrency trading software aimed at helping investors who have never traded before make profits in the cryptocurrency…">
    <meta name="keywords" content="hyip,bitcoin,investment,hyip business,hyip script,best hyip,buy hyip script,advanced hyip script,hyip software,high yield investment program,hyip manager,hyip manager script,cheap hyip script,reliable hyip,secure hyip script,php hyip script,new hyip script,hyip program">
    <script src="/cdn-cgi/apps/head/mTK1RzJgErQWuiATmG63bbDpTXg.js"></script><link rel="shortcut icon" href="/assets/images/logoIcon/favicon.png" type="image/x-icon">

    
    <link rel="apple-touch-icon" href="/assets/images/logoIcon/logo.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="AltFX - Investment Plan">
    
    <meta itemprop="name" content="AltFX - Investment Plan">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="/assets/images/seo/62b20ee8c42001655836392.jpeg">
    
    <meta property="og:type" content="website">
    <meta property="og:title" content="AltFX">
    <meta property="og:description" content="AltFX | Reliable and profitably Investments in bitcoin . Most Advanced Investment System.">
    <meta property="og:image" content="/assets/images/seo/62b20ee8c42001655836392.jpeg"/>
    <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    <meta property="og:url" content="/plan">
    
    <meta name="twitter:card" content="summary_large_image">
  <!-- bootstrap 4  -->
  <link rel="stylesheet" href="/assets/templates/bit_gold/css/vendor/bootstrap.min.css">
  <!-- fontawesome 5  -->
  <link rel="stylesheet" href="/assets/templates/bit_gold/css/all.min.css">
  	<link rel="stylesheet" href="../maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- line-awesome webfont -->
  <link rel="stylesheet" href="/assets/templates/bit_gold/css/line-awesome.min.css">
  <link rel="stylesheet" href="/assets/templates/bit_gold/css/vendor/animate.min.css">
  <!-- slick slider css -->
  <link rel="stylesheet" href="/assets/templates/bit_gold/css/vendor/slick.css">
  <link rel="stylesheet" href="/assets/templates/bit_gold/css/vendor/dots.css">
      <!-- dashdoard main css -->
  <link rel="stylesheet" href="/assets/templates/bit_gold/css/main.css">
  <link rel="stylesheet" href="../www.bitrademining.com/alert/css/animate.min.css">
  
  <link rel="stylesheet" href="../www.bitrademining.com/alert/css/fake-notification-min.css">
  
  <link rel="stylesheet" href="/assets/templates/bit_gold/css/custom.css">
  <link rel="stylesheet" href="/assets/templates/bit_gold/css/color7bf7.css?color=f29f1c&amp;secondColor=293241">
    
  <style type="text/css">
		.logo{
			height: 50px;
			float: left;
		}
		.__tL{
			padding: 0px 10px;
			border-radius: 5px;
			background: #f29f1c;
			float: right;
			height: 35px;
			font-size: 14px;
			font-weight: 700;
			line-height: 35px;
			text-decoration: none;
			color: #232733;
			margin-left: 3px;
			margin-top: 7px;
		}
		.__tL:hover{
			text-decoration: none;
			color: #82f1f7;
		}
	</style>
</head>
  <body>
     <div id="notification-1" class="notification">			
	
	</div>
	
	
    
      
    
  
   

  <div class="full-wh">
    <!-- STAR ANIMATION -->
    <div class="bg-animation">
      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>
      <div id='stars4'></div>
    </div><!-- / STAR ANIMATION -->
  </div>
  <div class="page-wrapper">
      <!-- header-section start  -->
      
  <header class="header">
    <div class="header__bottom">
      <div class="container">
        <nav class="navbar navbar-expand-xl p-0 align-items-center">
          <img width = '60' height="60" src="/assets/images/logoIcon/logo.png" alt="site-logo">
          <ul class="account-menu responsive-account-menu ml-3">
                        <a class="__tL" href="/banking/authentications/sign-up/">SIGN UP</a> <a class="__tL" href="/banking/authentications/log-in/">LOGIN</a>
                      </ul> 
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu-toggle"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav main-menu ml-auto">
              <li> <a href="">Home</a></li>
              <li><a href="plan.html">Plan</a></li>
                                              <li><a href="about.html">About</a></li>
                                          <li><a href="blog.html">Blog</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
            <div class="nav-right">
              <ul class="account-menu ml-3">
                               
                <a class="__tL" href="/banking/authentications/sign-up/">SIGN UP</a>
				<a class="__tL" href="/banking/authentications/log-in/">LOGIN</a>
                              </ul> 
              <select class="select d-inline-block w-auto ml-xl-3 langSel">
                                  <option value="en" >English</option>
                                  <option value="zh"  selected  >Chinese</option>
                              </select>
            </div>
          </div>
        </nav>
      </div>
    </div><!-- header__bottom end -->
    <coingecko-coin-price-marquee-widget  coin-ids="bitcoin,ethereum,litecoin,ripple,dogecoin,bitcoin-cash" currency="usd" background-color="#000000" locale="en" font-color="#ffffff"></coingecko-coin-price-marquee-widget>

  </header>
  <!-- header-section end  -->

    <!-- inner hero start -->
    <section class="inner-hero bg_img" data-background="/assets/images/frontend/breadcrumb/5fce3837032a51607350327.jpg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2 class="page-title">Investment Plan</h2>
            <ul class="page-breadcrumb">
              <li><a href="">Home</a></li>
              <li>Investment Plan</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- inner hero end --><section class="pt-120 pb-120">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <div class="section-header">
              <h2 class="section-title"><span class="font-weight-normal"></span> <b class="base--color"></b></h2>
              <p></p>
            </div>
          </div>
        </div><!-- row end -->
        <div class="row mb-none-30 justify-content-center">
                                <div class="col-lg-3 mb-30">
            <div class="package-card text-center bg_img" data-background="/assets/templates/bit_gold//images/bg/bg-4.png">
              <h4 class="package-card__title base--color mb-2">VIP PLAN</h4>
              
              <ul class="package-card__features mt-4">

                <li>Return 85%</li>
                
                <li>
                  Every Day
                </li>
                <li>For   7 Day </li>
                <li> 
                    Total   595%

                                        + <span class="badge badge-success">Capital</span> 
                                        </li>
              </ul>
              <div class="package-card__range mt-5 base--color">                $10000  - $1000000
                              </div>
              <a href="javascript:void(0)" data-toggle="modal" data-target="#depoModal" data-resource="{&quot;id&quot;:1,&quot;name&quot;:&quot;VIP PLAN&quot;,&quot;minimum&quot;:&quot;10000&quot;,&quot;maximum&quot;:&quot;1000000&quot;,&quot;fixed_amount&quot;:&quot;0&quot;,&quot;interest&quot;:&quot;85&quot;,&quot;interest_status&quot;:1,&quot;times&quot;:&quot;24&quot;,&quot;status&quot;:1,&quot;featured&quot;:1,&quot;capital_back_status&quot;:1,&quot;lifetime_status&quot;:0,&quot;repeat_time&quot;:&quot;7&quot;,&quot;created_at&quot;:&quot;2021-09-18T20:18:57.000000Z&quot;,&quot;updated_at&quot;:&quot;2022-06-12T20:50:35.000000Z&quot;}" class="cmn-btn btn-md mt-4 investButton">Invest Now</a>
            </div><!-- package-card end -->
          </div>
                                <div class="col-lg-3 mb-30">
            <div class="package-card text-center bg_img" data-background="/assets/templates/bit_gold/images/bg/bg-4.png">
              <h4 class="package-card__title base--color mb-2">PREMIUM PLAN</h4>
              
              <ul class="package-card__features mt-4">

                <li>Return 70%</li>
                
                <li>
                  Every Day
                </li>
                <li>For   7 Day </li>
                <li> 
                    Total   490%

                                        + <span class="badge badge-success">Capital</span> 
                                        </li>
              </ul>
              <div class="package-card__range mt-5 base--color">                $5000  - $10000
                              </div>
              <a href="javascript:void(0)" data-toggle="modal" data-target="#depoModal" data-resource="{&quot;id&quot;:2,&quot;name&quot;:&quot;PREMIUM PLAN&quot;,&quot;minimum&quot;:&quot;5000&quot;,&quot;maximum&quot;:&quot;10000&quot;,&quot;fixed_amount&quot;:&quot;0&quot;,&quot;interest&quot;:&quot;70&quot;,&quot;interest_status&quot;:1,&quot;times&quot;:&quot;24&quot;,&quot;status&quot;:1,&quot;featured&quot;:1,&quot;capital_back_status&quot;:1,&quot;lifetime_status&quot;:0,&quot;repeat_time&quot;:&quot;7&quot;,&quot;created_at&quot;:&quot;2021-09-18T20:20:27.000000Z&quot;,&quot;updated_at&quot;:&quot;2022-06-12T20:50:23.000000Z&quot;}" class="cmn-btn btn-md mt-4 investButton">Invest Now</a>
            </div><!-- package-card end -->
          </div>
                                <div class="col-lg-3 mb-30">
            <div class="package-card text-center bg_img" data-background="/assets/templates/bit_gold/images/bg/bg-4.png">
              <h4 class="package-card__title base--color mb-2">STANDARD PLAN</h4>
              
              <ul class="package-card__features mt-4">

                <li>Return 50%</li>
                
                <li>
                  Every Day
                </li>
                <li>For   7 Day </li>
                <li> 
                    Total   350%

                                        + <span class="badge badge-success">Capital</span> 
                                        </li>
              </ul>
              <div class="package-card__range mt-5 base--color">                $1000  - $5000
                              </div>
              <a href="javascript:void(0)" data-toggle="modal" data-target="#depoModal" data-resource="{&quot;id&quot;:3,&quot;name&quot;:&quot;STANDARD PLAN&quot;,&quot;minimum&quot;:&quot;1000&quot;,&quot;maximum&quot;:&quot;5000&quot;,&quot;fixed_amount&quot;:&quot;0&quot;,&quot;interest&quot;:&quot;50&quot;,&quot;interest_status&quot;:1,&quot;times&quot;:&quot;24&quot;,&quot;status&quot;:1,&quot;featured&quot;:1,&quot;capital_back_status&quot;:1,&quot;lifetime_status&quot;:0,&quot;repeat_time&quot;:&quot;7&quot;,&quot;created_at&quot;:&quot;2021-09-18T20:21:13.000000Z&quot;,&quot;updated_at&quot;:&quot;2022-06-12T20:50:10.000000Z&quot;}" class="cmn-btn btn-md mt-4 investButton">Invest Now</a>
            </div><!-- package-card end -->
          </div>
                                <div class="col-lg-3 mb-30">
            <div class="package-card text-center bg_img" data-background="/assets/templates/bit_gold/images/bg/bg-4.png">
              <h4 class="package-card__title base--color mb-2">CLASSIC PLAN</h4>
              
              <ul class="package-card__features mt-4">

                <li>Return 35%</li>
                
                <li>
                  Every Day
                </li>
                <li>For   7 Day </li>
                <li> 
                    Total   245%

                                        + <span class="badge badge-success">Capital</span> 
                                        </li>
              </ul>
              <div class="package-card__range mt-5 base--color">                $500  - $1000
                              </div>
              <a href="javascript:void(0)" data-toggle="modal" data-target="#depoModal" data-resource="{&quot;id&quot;:4,&quot;name&quot;:&quot;CLASSIC PLAN&quot;,&quot;minimum&quot;:&quot;500&quot;,&quot;maximum&quot;:&quot;1000&quot;,&quot;fixed_amount&quot;:&quot;0&quot;,&quot;interest&quot;:&quot;35&quot;,&quot;interest_status&quot;:1,&quot;times&quot;:&quot;24&quot;,&quot;status&quot;:1,&quot;featured&quot;:1,&quot;capital_back_status&quot;:1,&quot;lifetime_status&quot;:0,&quot;repeat_time&quot;:&quot;7&quot;,&quot;created_at&quot;:&quot;2021-09-18T20:22:11.000000Z&quot;,&quot;updated_at&quot;:&quot;2022-06-12T20:49:06.000000Z&quot;}" class="cmn-btn btn-md mt-4 investButton">Invest Now</a>
            </div><!-- package-card end -->
          </div>
                  </div>
      </div>
</section>
        
    
   
	               </center>
    <div>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.561298552872!2d-0.10364508431731415!3d51.5029175796343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604a5bdc3957d%3A0xbbde149c43327d39!2s66+Great+Suffolk+St%2C+London+SE1+0BL%2C+UK!5e0!3m2!1sen!2sin!4v1531478364104" width="100%" height="545px" frameborder="0" style="border:0" allowfullscreen=""></iframe>


                    </div>

    
<!-- Modal -->
<div class="modal fade" id="depoModal" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-bg">
            <div class="modal-header">
                <strong class="modal-title text-white" id="ModalLabel">
                                        At first sign in your account                                    </strong>
                <a href="javascript:void(0)" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
            </div>
            <form action="https://altfx.com/user/plans" method="post" class="register">
                <input type="hidden" name="_token" value="sNxoYGciiAc0ukcq4OX4GM97F9w2DjYofuASF5wc">                
                                <div class="modal-footer">
                    <a href="/banking/authentications/log-in/" type="button" class="cmn-btn btn-md w-100 text-center">At first sign in your account</a>
                </div>
                            </form>
        </div>
    </div>
</div>


    <!-- footer section start -->
            <footer class="footer bg_img" data-background="/assets/images/frontend/footer/5fce39681ce6b1607350632.jpg">
  <div class="footer__top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12 text-center">
          <a href=""><img src="/assets/images/logoIcon/logo.png" alt="image"></a>
          <ul class="footer-short-menu d-flex flex-wrap justify-content-center mt-3">
                        <li><a href="links/privacy-amp-policy/180.html">Privacy &amp; Policy</a></li>
                        <li><a href="links/terms-amp-condition/181.html">Terms &amp; Condition</a></li>
                      </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-md-left text-center">
         
          </p></p>Address: <font color="lightblue">66 Great suffolk st, London SE1 0BL,UK</font></p></p>
          </p></p> Email: <font color="lightblue"><a href="/cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="4a393f3a3a25383e0a2e2f2938333a3e253e382b2e2f2c3264292527">[email&#160;protected]</a></font></p></p>
          </p></p>Whatsapp: <font color="lightblue">+1 (616) 606‑5635</font></p></p>
           </p></p>© 2013 - 2022 <a href="" class="base--color">AltFX</a>. All rights reserved</p></p>
        </div>
        <div class="col-md-6">
          <ul class="social-link-list d-flex flex-wrap justify-content-md-end justify-content-center">
                        <li><a href="https://facebook.com/"><i class="lab la-facebook-f"></i></a></li>
                        <li><a href="https://www.twitter.com/"><i class="lab la-twitter"></i></a></li>
                        <li><a href="https://www.pinterest.com/"><i class="lab la-pinterest-p"></i></a></li>
                        <li><a href="https://www.linkedin.com/"><i class="lab la-linkedin-in"></i></a></li>
                      </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer section end -->
</div> <!-- page-wrapper end -->

    <!-- jQuery library -->
  <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/assets/templates/bit_gold/js/vendor/jquery-3.5.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="/assets/templates/bit_gold/js/vendor/bootstrap.bundle.min.js"></script>

    <!-- slick slider js -->
  <script src="/assets/templates/bit_gold/js/vendor/slick.min.js"></script>
  <script src="/assets/templates/bit_gold/js/vendor/wow.min.js"></script>
  <!-- dashboard custom js -->
  <script src="/assets/templates/bit_gold/js/app.js"></script>


  <link rel="stylesheet" href="/assets/templates/bit_gold/css/iziToast.min.css">
<script src="/assets/templates/bit_gold/js/iziToast.min.js"></script>


<script>
"use strict";
    function notify(status,message) {
        iziToast[status]({
            message: message,
            position: "topRight"
        });
    }
</script>
  
<script>
    (function ($) {
        "use strict";
        $(document).on('click','.investButton',function () {
            var data = $(this).data('resource');
            var symbol = "$";
            var currency = "USD";

            $('#mySelect').empty();

            if (data.fixed_amount == '0') {
                $('.investAmountRenge').text(`invest: ${symbol}${data.minimum} - ${symbol}${data.maximum}`);
                $('.fixedAmount').val('');
                $('#fixedAmount').attr('readonly', false);


            } else {
                $('.investAmountRenge').text(`invest: ${symbol}${data.fixed_amount}`);
                $('.fixedAmount').val(data.fixed_amount);
                $('#fixedAmount').attr('readonly', true);

            }

            if (data.interest_status == '1') {
                $('.interestDetails').html(`<strong> Interest: ${data.interest} % </strong>`);
            } else {
                $('.interestDetails').html(`<strong> Interest: ${data.interest} ${currency}  </strong>`);
            }
            if (data.lifetime_status == '0') {
                $('.interestValidaty').html(`<strong>  per ${data.times} hours ,  ${data.repeat_time} times</strong>`);
            } else {
                $('.interestValidaty').html(`<strong>  per ${data.times} hours,  life time </strong>`);
            }

            $('.planName').text(data.name);
            $('.plan_id').val(data.id);
        });



    })(jQuery);

</script>

<script>
    (function () {
        "use strict";
        $(document).on("change", ".langSel", function () {
            window.location.href = "/change/" + $(this).val();
        });

        $('.policy').on('click',function(){
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
            $.get('cookie/accept.json', function(response){
                iziToast.success({message: response, position: "topRight"});
                $('.cookie__wrapper').addClass('d-none');
            });
        });
    })();
    
<!-- scripts -->
	<script data-cfasync="false" src="../www.bitrademining.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../www.bitrademining.com/particles.js-master/particles.js"></script>
	<script src="../www.bitrademining.com/particles.js-master/demo/js/app.js"></script>
	<script type="text/javascript" src="../www.bitrademining.com/alert/js/jquery.fake-notification.min.js"></script>
	<!-- stats.js -->
	<!-- <script src="./particles.js-master/demo/js/lib/stats.js"></script> -->
	<script>
	  var count_particles, stats, update;
	  stats = new Stats;
	  stats.setMode(0);
	  stats.domElement.style.position = 'absolute';
	  stats.domElement.style.left = '0px';
	  stats.domElement.style.top = '0px';
	  document.body.appendChild(stats.domElement);
	  count_particles = document.querySelector('.js-count-particles');
	  update = function() {
	    stats.begin();
	    stats.end();
	    if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
	      count_particles.innerText = window.pJSDom[0].pJS.particles.array.length;
	    }
	    requestAnimationFrame(update);
	  };
	  requestAnimationFrame(update);
	</script>
	<script>
		$(document).ready(function() {
            $('#notification-1').Notification({
                // Notification varibles
                Varible1: ["Dirk", "Johnny", "Watkin ", "Alejandro",  "Vina",  "Tony",   "Ahmed","Jackson",  "Noah", "Aiden",  "Darren", "Isabella", "Aria", "John", "Greyson", "Peter", "Mohammed", "William",
                "Lucas", "Amelia", "Mason", "Mathew", "Richard", "Chris", "Mia", "Oliver"],
                Varible2: ["USA","UAE","ITALY", "FLORIDA",  "MEXICO",  "INDIA",  "CHINA",  "CAMBODIA",  "UNITED KINGDOM",  "GERMANY", "AUSTRALIA",  "BANGLADESH", "SWEDEN", "PAKISTAN", "MALDIVES", "SEYCHELLES", 
                "BOLIVIA",
                 "SOUTH AFRICA", "ZAMBIA", "ZIMBABWE", "LEBANESE", "SAUDI ARABIA", "CHILE", "PEUTO RICO"],
                
                Amount: [1000,2500,5550,6660,4454,3833,6969],                    
                Content: '[Varible1] from [Varible2] has just Earned <b>$[Amount]</b>.',
                // Timer
                Show: ['stable', 5, 10],
                Close: 5,
                Time: [0, 23],
                // Notification style 
                LocationTop: [true, '30%'],
                LocationBottom:[false, '10%'],
                LocationRight: [false, '10%'],                      
                LocationLeft:[true, '10px'],
                Background: '#000000',
                BorderRadius: 5,
                BorderWidth: 1,
                BorderColor: '#ffc552',
                TextColor: 'white',
                IconColor: '#ffffff',
                // Notification Animated   
                AnimationEffectOpen: 'slideInUp',
                AnimationEffectClose: 'slideOutDown',
                // Number of notifications
                Number: 40,
                // Notification link
                Link: [false, '', '_blank']
                
            });         
        }); 				
	</script>
</script>
<!-- GetButton.io widget -->
	<script type="text/javascript">
	    (function () {
	        var options = {
	            whatsapp: "", // WhatsApp number
	            call_to_action: "Message us on Whatsapp", // Call to action
	            position: "left", // Position may be 'right' or 'left'
	        };
	        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
	        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
	        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
	        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
	    })();
	</script>
	<!-- /GetButton.io widget -->
<script src="../widgets.coingecko.com/coingecko-coin-price-marquee-widget.js"></script>


</body>

<!-- Mirrored from altfx.com/plan by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 12 Jul 2022 22:33:15 GMT -->
</html>

  </body>
</html> 